<!DOCTYPE html>
<html lang="ko-kr">
    <head>
        <%- include("../shared/header.ejs") %>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-database.js"></script>
        <script src="js/home.js"></script>
        <title>What2Do</title>
    </head>
    <body>
        <div class="left_sidemenu">
            <div id="account_info_wrapper">
                Account Info
            </div>
            <ul class="left-sidemenu__list">
                <li class="left-sidemenu__list-item">
                    <i class="fas fa-home"></i>
                    <span>홈</span>
                </li>
                <li class="left-sidemenu__list-item">
                    <i class="fas fa-star"></i>
                    <span>중요</span>
                </li>
                <li class="left-sidemenu__list-item">
                    <i class="fas fa-spinner"></i>
                    <span>진행 중</span>
                </li>
                <li class="left-sidemenu__list-item">
                    <i class="fas fa-check-square"></i>
                    <span>완료됨</span>
                </li>
            </ul>
            <ul class="left-sidemenu__list left-sidemenu__category-list">
                <li class="left-sidemenu__list-item">
                    <i class="fas fa-list"></i>
                    <span>오우</span>
                </li>
                <li class="left-sidemenu__list-item">
                    <i class="fas fa-list"></i>
                    <span>조치</span>
                </li>
                <li class="left-sidemenu__list-item">
                    <i class="fas fa-list"></i>
                    <span>실치</span>
                </li>
               
            </ul>
            <div class="left-sidemenu__add">
                <div class="left-sidemenu__add-column">
                    <i class="fas fa-plus"></i>
                    <span>새 목록</span>
                </div>
                <div class="left-sidemenu__add-column">
                    <i class="fas fa-folder-plus"></i>
                </div>
            </div>
        </div>
        <div id="main_body_wrapper">
            <div id="main_body">
                <div id="body_header">
                    <div class="main-title-bar">
                        <i id="home_icon" class="fas fa-home">&nbsp;Home</i>
                    </div>
                    <div class="item-viz-methods-wrapper">
                        <div class="item-classify-methods-wrapper">
                            <div class="item-classify-method item-viz-method">시간별 보기</div><!--
                            --><div class="item-classify-method item-viz-method">일별 보기</div><!--
                            --><div class="item-classify-method item-viz-method">월별 보기</div><!--
                            --><div class="item-classify-method item-viz-method">년별 보기</div>
                        </div>
                        <div class="item-sort-methods-wrapper">
                            <div class="item-sort-method item-viz-method">기한 오름차순</div><!--
                            --><div class="item-sort-method item-viz-method">중요도 오름차순</div>
                        </div>
                    </div>
                </div>
                <div class="todo-list">
                </div>
                <div id="new_todo_item_creator">
                    <div id="item_detail_setting_panel">
                        <button id="new_item_detail_setting_btn" onclick="toggleDetailSettingPanel();">
                            <svg width="100" height="15">
                                <path d="M50 3 L30 12 L70 12 Z" fill="#555"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="new-todo-item-input-wrapper">
                        <input id="new_todo_item_input" placeholder="Add new todo items...">
                        <div id="item_property_wrapper">
                            <!-- <input id="todo_item_input" type="range" min="0" max="100" value="50"> -->
                        </div>
                    </div>
                    <div class="animate-blinder"></div>
                </div>
            </div>
        </div>
        <div id="right_sidemenu">
        </div>
    </body>
</html>