/* Global Util components */

input{
    background-color: red;
    border: none;
    outline: none;
}

.block-span{
    display: block;
}

button:focus{
    outline: none;
}

.ui-datepicker{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
    padding: 5px;
}

.ui-datepicker-calendar a.ui-state-default{
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 3px;
    color: rgb(0, 80, 90);
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    font-size: 1em;
}

.ui-datepicker-calendar td{
    width: 30px;
    height: 30px;
    transition: 0.15s linear;
}

.ui-datepicker-calendar td:hover{
    background-color: rgba(128, 193, 255, 0.733);
    transition: 0.15s linear;
}

.ui-datepicker-calendar td.ui-datepicker-week-end a{
    color: red;
}

.ui-datepicker-calendar td.ui-datepicker-today a{
    text-shadow: 0 0 5px rgb(0, 212, 88);
    color: rgb(0, 60, 190);
}

.ui-datepicker-calendar td.ui-datepicker-current-day{
    background-color: rgb(0, 102, 255);
}

.ui-datepicker-calendar td.ui-datepicker-current-day a{
    color: white;
}