@import "reset.css";

html, body{
    display: block;
    height: 100%;

    overflow-x: hidden;
    overflow-y: hidden;

    font-family: 'Do Hyeon', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
}

#main_body_wrapper{
    background: rgb(255, 255, 255);
    margin-left: 300px;
    height: 100%;
    padding: 45px;

    box-sizing: border-box;
}

#main_body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-title-bar{
    display: inline-block;
    width: 100%;
}

#home_icon{
    font-size: 2.5em;
}

.item-viz-methods-wrapper{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.item-classify-methods-wrapper{
    float: left;
}

.item-sort-methods-wrapper{
    float: right;
}

.item-viz-method{
    display: inline-block;
    background-color: rgb(174, 255, 255);
    padding: 7px;
    border-radius: 5px;

    cursor: pointer;
}

.item-classify-method{
    margin-right: 5px;
}

.item-sort-method{
    margin-left: 5px;
}

#body_header{
    width: 100%;
    height: 100px;
}

.todo-list{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-family: 'Noto Sans KR', sans-serif;
}

.item-property-wrapper{
    float: right;
}

.new-todo-item-input-wrapper{
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;

    z-index: 10;
}

.todo-item{
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;

    margin-bottom: 5px;

    box-sizing: border-box;
}

.item-title{
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    max-width: 90%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-deadline{
    font-size: 0.8em;
    vertical-align: middle;
}

.todo-list::-webkit-scrollbar{
    width: 4px;
}

.todo-list::-webkit-scrollbar-thumb{
    background-color: rgb(197, 197, 197);
    border-radius: 2px;
}


.todo-list::-webkit-scrollbar-thumb:hover{
    background-color: rgb(131, 131, 131);
}

/* Create new item */
#new_todo_item_input{
    display: inline-block;
    width: 80%;
    background-color: transparent;
    padding: 10px 15px;
}

#todo_item_input{
    display: inline-block;
    background-color: red;
    vertical-align: middle;
}

#item_property_wrapper{
    display: inline-block;
}

#new_item_detail_setting_btn{
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 15px;
    top: -15px;
    left: calc(50% - 50px);

    border: none;
    background-color: rgb(200, 200, 200);
    padding: 0;
    transition: 0.15s linear;
    cursor: pointer;
}

#new_item_detail_setting_btn:hover{
    background-color: rgb(177, 177, 177);
    transition: 0.15s linear;
}

#item_detail_setting_panel{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-color: rgba(160, 160, 160, 0.87);

    z-index: 3;
}

#new_todo_item_creator{
    position: relative;
    margin-top: 10px;
}

.animate-blinder{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 5;
}